.image-title-dark {
  color: $dark-blue;
}

main.about {
  background: url("/img/tools-of-the-trade.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: calc(100vh - 40px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.about {
  & .card {
    background-color: $transparent-brown;
  }

  & h5 {
    font-family: Lobster;
    font-size: 25px;
  }

  & .btn-light {
    background-color: none;
    border: 2px solid $font-color;
    border-radius: 3px;
  }
}